<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<h2>予定一覧</h2>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日</th>
      <th>参照</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.title %></td>
        <% if schedule.start_date %>
          <td><%= schedule.start_date.to_formatted_s(:custom_format) %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if schedule.end_date %>
          <td><%= schedule.end_date.to_formatted_s(:custom_format) %></td>
        <% else %>
          <td></td>
        <% end %>
        <td class="all-day <%= schedule.all_day ? 'active' : '' %>">
          <% if schedule.all_day %>
            <%= "○" %>
          <% end %>
        </td>
        <td><%= schedule.updated_at.to_formatted_s(:datetime_jp) %></td>
        <td><%= link_to "参照", schedule %></td>
        <td><%= link_to "編集", [:edit, schedule] %></td>
        <td><%= link_to "削除", schedule, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "スケジュール新規登録", new_schedule_path %></p>
<div class="sum"><%= "合計予定数：#{Schedule.count}件" %></div>
<div class="today-date"><%= "本日の日付：#{Date.today.strftime("%Y/%m/%d")}" %></div>

